* {
  font-family: 'Arial';
}

.loading {
  font-size: 30px;
  text-align: center;  
}

.product {
  text-align: center;
  padding: 15px;
  width: 300px;
  background-color: #D2D7D3;
  float: left;
  margin-right: 20px;
}

